[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
jupyterlab = "*"
pypd = {git = "git+https://github.com/mark-hobbs/pypd.git"}
gpy = "*"

[dev-packages]

[requires]
python_version = "3.11"
